@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "material-full-palette";
@import "font-awesome";


h1{
  color: white;
}
.main{
  padding-top: 5em;
}

.navbar-right{
  margin-right: 20px;
}

.logo{
  color:lightgrey;
  a:hover{
    text-decoration: none;
  }
}

.backing-track{
  height: 50em;
  width: 50%;
}
